/* reset */
html, body, header, nav, footer, main, section, div, span, h1, h2, h3, h4, h5, h6, p, a, figure, figcaption, picture, img, ul, li, dl, dt, dd, form, label, input, textarea, button, svg, strong, b, address, time, table, caption, thead, tbody, th, td, tr
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
a
{
	display: inline-block;
}
ul
{
	list-style: none;
}
:root
{
    /* couleurs */
    --couleur-froid: #2a4d6c;;
    --couleur-chaud: #f4e9d8;;
    --couleur-alert: red;
    --couleur-succes: green;

    /* espaces */
    --espace-xxl: 20vw;
    --espace-s: 3vw;
    --espace-xs: 1vw;

}
/* base */
html
{
    overflow-x: hidden;
	font-size: clamp(16px, 1vw, 1vw);
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
main
{
    padding: var(--espace-s) var(--espace-xxl);
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center; /* Centre le contenu de main */
    width: 100%;
    background-color: #f4e9d870 
}
h1
{
    margin-bottom: 2rem;
}
h2, h3, h4, h5, h6 {
    color: var(--couleur-froid); /* Couleur des titres ajustée */
}
p:not(:last-of-type)
{
    margin-bottom: 1rem;
}
button
{
    padding: var(--espace-xs);
    border-radius: 8rem;
    text-transform: uppercase;
    color: white;
    background-color: var(--couleur-chaud);
}
button:hover
{
    cursor: pointer;
}
/* header */
header {
    padding: var(--espace-xs) var(--espace-xxl);
    background-color: var(--couleur-froid);
    display: flex;
    align-items: center; /* Centre verticalement les éléments du header */
    justify-content: space-between; /* Répartit l'espace dans le header */
}
header img { /* Ajustement de la taille du logo */
    width: 5rem; /* Taille fixe, ajustez en fonction de la taille de votre h1 */
    height: auto;
}
header nav ul
{
    display: flex;
}
header nav li:not(:last-of-type)
{
    margin-right: 2rem;
}
header nav li:last-of-type
{
    margin-left: auto;
}
header nav a
{
    text-decoration: none;
    color: var(--couleur-chaud);
}
.active
{
    font-weight: bold;
}
/* footer */
footer {
    padding: var(--espace-xs) var(--espace-xxl);
    background-color: var(--couleur-froid);
    display: flex;
    justify-content: center; /* Centre le contenu du footer */
    align-items: center; /* Centre verticalement les éléments du footer */
}
/* formulaires */
form
{
    max-width: 500px;
    width: 100%;
}
form > p:first-of-type
{
    text-align: right;
}
form > p:first-of-type > span
{
    color: var(--couleur-alert);
}
form div
{
    margin-bottom: 0.5rem;
}
form div:last-of-type
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form label
{
    margin-bottom: 0.2rem;
    display: block;
}
form label.required::after
{
    content: '*';
    color: var(--couleur-alert)
}
form input, form textarea
{
    padding: 0.3rem;
    border: 1px solid var(--couleur-froid);
    border-radius: 0.5rem;
    width: 100%;
}
form textarea
{
    resize: vertical;
    min-height: 150px;
}
form p.alert, form p.succes
{
    font-size: 0.8em;
}
form p.alert
{
    color: var(--couleur-alert);
}
form p.succes
{
    color: var(--couleur-succes);
}

/* Carousel */

#carousel {
    width: 500px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    width: 1500px; /* 3 images * 500px */
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 500px;
    height: auto;
}

.background-image {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Assurez-vous qu'elle soit en arrière-plan */
  }

/* Responsivité */
@media (max-width: 768px) {
    :root {
        --espace-xxl: 10vw;
        --espace-s: 5vw;
        --espace-xs: 2vw;
    }
    header, footer {
        flex-direction: column; /* Empile les éléments verticalement sur petits écrans */
        padding: var(--espace-xs);
    }
    main {
        padding: var(--espace-s);
    }
    header img {
        width: 4rem; /* Réduit encore la taille du logo sur les petits écrans */
    }
}